---
# The source code packaged with this file is Free Software, Copyright (C) 2016 by
# Unidad de Laboratorios, Escuela Politecnica Superior, Universidad de Alicante :: <aeps at eps.ua.es>.
# It's licensed under the AFFERO GENERAL PUBLIC LICENSE unless stated otherwise.
# You can get copies of the licenses here: http://www.affero.org/oagpl.html
# AFFERO GENERAL PUBLIC LICENSE is also included in the file called "LICENSE".


# NRPE Commands configuration 

- name: Get python version
  shell: echo {{ ansible_python_version }}|cut -d' ' -f2|cut -d'.' -f1,2
  register: pythonVersion
  changed_when: False

- name: Getting Paths
  action: path_EPS
  changed_when: False
  ignore_errors: yes
  when: path.daemons.nrpe.name|default("") == ""

- name: Create directory /etc/nagios/nrpe.d
  file: path=/etc/nagios/nrpe.d state=directory follow=yes owner=root group=root mode=0755

- name: Configure /etc/nagios/nrpe.cfg file with include_dir=/etc/nagios/nrpe.d/
  lineinfile: name=/etc/nagios/nrpe.cfg state=present regexp='^include_dir=/etc/nagios/nrpe.d/$' line='include_dir=/etc/nagios/nrpe.d/'
  register: includeConfig

- name: Configure /etc/nagios/nrpe.d/baseNrpe.cfg
  template: src=etc/nagios/nrpe.d/baseNrpe.cfg.j2 dest=/etc/nagios/nrpe.d/baseNrpe.cfg owner=root group=root mode=0644
  register: baseNrpe

- name: Comment commands in /etc/nagios/nrpe.cfg
  shell: ((cat /etc/nagios/nrpe.cfg |grep '^command\[' >/dev/null) && (sed -e 's/^command\[/#command\[/g' -i /etc/nagios/nrpe.cfg >/dev/null) && echo "Changed") || echo "No" executable="/bin/bash"
  register: commentCommands
  changed_when: commentCommands.stdout == "Changed"  

- name: Restart nrpe systemd
  systemd: name={{ path.daemons.nrpe.name }} state=restarted enabled=true
  when: path.daemons.nrpe.type == "systemctl" and path.daemons.nrpe.name != "" and (includeConfig|changed or baseNrpe|changed or commentCommands|changed) 

- name: Restart nrpe service
  service: name={{ path.daemons.nrpe.name }} state=restarted enabled=true
  when: path.daemons.nrpe.type == "service" and path.daemons.nrpe.name != "" and (includeConfig|changed or baseNrpe|changed or commentCommands|changed)

- name: Restart nrpe init
  shell: '{{ path.daemons.nrpe.name }} restart executable="/bin/bash"'
  when: path.daemons.nrpe.type == "init" and path.daemons.nrpe.name != "" and (includeConfig|changed or baseNrpe|changed or commentCommands|changed) 

