{# The source code packaged with this file is Free Software, Copyright (C) 2016 by #}
{# Unidad de Laboratorios, Escuela Politecnica Superior, Universidad de Alicante :: <aeps at eps.ua.es>. #}
{# It's licensed under the AFFERO GENERAL PUBLIC LICENSE unless stated otherwise. #}
{# You can get copies of the licenses here: http://www.affero.org/oagpl.html #}
{# AFFERO GENERAL PUBLIC LICENSE is also included in the file called "LICENSE". #}
{#                                                                              #}
{#                                                                              #}
# Made by AnsibleEPS

# TCP Wrappers configuration 

{# Global block -#}
{% if hostsDenyGlobal is defined -%}
{%  for rule in hostsDenyGlobal -%}
{%   set printRule = {'value': True} -%}
{# Looking for the same label in Group block -#}
{%   if hostsDenyGroup is defined -%}
{%    for rGroup in hostsDenyGroup -%}
{%     if rGroup.group in group_names -%}
{%      for grule in rGroup.rules -%}
{%       if grule.label == rule.label -%}
{%        if printRule.update({'value': False}) -%}{% endif -%}
{%       endif -%}
{%      endfor -%}
{%     endif -%}
{%    endfor %}
{%   endif -%}
{# Looking for the same label in Host block -#}
{%   if printRule.value -%}
{%    if hostsDenyHost is defined -%}
{%     for rHost in hostsDenyHost -%}
{%      if rHost.host==inventory_hostname -%}
{%       for hrule in rHost.rules -%}
{%        if hrule.label == rule.label -%}
{%         if printRule.update({'value': False}) -%}{% endif -%}
{%        endif -%}
{%       endfor -%}
{%      endif -%}
{%     endfor %}
{%    endif -%}
{%   endif -%}
{# Print label -#}
{%   if printRule.value and rule.services is defined and rule.origins is defined -%}
# {{ rule.label }}
{{ rule.services|replace("hostname",inventory_hostname) }}: {{ rule.origins|replace("hostname",inventory_hostname) }}
{%   endif -%}
{%  endfor %}
{% endif -%}
{# Group block -#}
{% if hostsDenyGroup is defined -%}
{%  for rGroup in hostsDenyGroup -%}
{%   if rGroup.group in group_names -%}
{%    for grule in rGroup.rules -%}
{%     set printRule = {'value': True} -%}
{# Looking for the same label in Host block -#}
{%     if hostsDenyHost is defined -%}
{%      for rHost in hostsDenyHost -%}
{%       if rHost.host==inventory_hostname -%}
{%        for hrule in rHost.rules -%}
{%         if hrule.label == grule.label -%}
{%          if printRule.update({'value': False}) -%}{% endif -%}
{%         endif -%}
{%        endfor -%}
{%       endif -%}
{%      endfor %}
{%     endif -%}
{# Print label -#}
{%     if printRule.value and grule.services is defined and grule.origins is defined -%}
# {{ grule.label }}
{{ grule.services|replace("hostname",inventory_hostname) }}: {{ grule.origins|replace("hostname",inventory_hostname) }}
{%     endif -%}
{%    endfor -%}
{%   endif -%}
{%  endfor %}
{% endif -%}
{# Host block -#}
{% if hostsDenyHost is defined -%}
{%  for rHost in hostsDenyHost -%}
{%   if rHost.host==inventory_hostname -%}
{%    for hrule in rHost.rules -%}
{# Print label -#}
{%     if hrule.services is defined and hrule.origins is defined -%}
# {{ hrule.label }}
{{ hrule.services|replace("hostname",inventory_hostname) }}: {{ hrule.origins|replace("hostname",inventory_hostname) }}
{%     endif -%}
{%    endfor -%}
{%   endif -%}
{%  endfor %}
{% endif %}

