{# The source code packaged with this file is Free Software, Copyright (C) 2016 by #}
{# Unidad de Laboratorios, Escuela Politecnica Superior, Universidad de Alicante :: <aeps at eps.ua.es>. #}
{# It's licensed under the AFFERO GENERAL PUBLIC LICENSE unless stated otherwise. #}
{# You can get copies of the licenses here: http://www.affero.org/oagpl.html #}
{# AFFERO GENERAL PUBLIC LICENSE is also included in the file called "LICENSE". #}
{#                                                                              #}
{#                                                                              #}
{# Global block -#}
{% if apacheIncGlobal.includes is defined -%}
{%  for inc in apacheIncGlobal.includes -%}
{%   set printInc = {'value': True} -%}
{# Looking for the same name in Group block -#}
{%   if apacheIncGroup is defined -%}
{%    for rGroup in apacheIncGroup -%}
{%     if rGroup.group in group_names -%}
{%      for ginc in rGroup.includes -%}
{%       if ginc.name == inc.name and (ginc.skip is not defined or (ginc.skip is defined and not ginc.skip)) -%}
{%        if printInc.update({'value': False}) -%}{% endif -%}
{%       endif -%}
{%      endfor -%}
{%     endif -%}
{%    endfor %}
{%   endif -%}
{# Looking for the same include in Host block -#}
{%   if printInc.value -%}
{%    if apacheIncHost is defined -%}
{%     for rHost in apacheIncHost -%}
{%      if rHost.host==inventory_hostname -%}
{%       for hinc in rHost.includes -%}
{%        if hinc.name == inc.name and (hinc.skip is not defined or (hinc.skip is defined and not hinc.skip)) -%}
{%         if printInc.update({'value': False}) -%}{% endif -%}
{%        endif -%}
{%       endfor -%}
{%      endif -%}
{%     endfor %}
{%    endif -%}
{%   endif -%}
{# Print Include -#}
{%   if printInc.value and (inc.path is defined or inc.file is defined or inc.skip is defined or inc.variables is defined) -%}
Global:{{ inc.name }}:{{ "%s/%s" % (inc.path|replace("#hostname#",ansible_hostname)|replace("#hostIP#",ansible_default_ipv4.address)|replace("#fqdn#",ansible_fqdn)|replace("#name#",inc.name)|replace("#httpd_directory#",httpd_directory.stdout)|replace("#httpdConf_directory#",httpdConf_directory.stdout)|replace("#httpdInc_directory#",httpdInc_directory.stdout)|replace("#httpdLogs_directory#",httpdLogs_directory.stdout) if inc.path is defined else httpdInc_directory.stdout,inc.file|replace("#hostname#",ansible_hostname)|replace("#hostIP#",ansible_default_ipv4.address)|replace("#fqdn#",ansible_fqdn)|replace("#name#",inc.name)|replace("#httpd_directory#",httpd_directory.stdout)|replace("#httpdConf_directory#",httpdConf_directory.stdout)|replace("#httpdInc_directory#",httpdInc_directory.stdout)|replace("#httpdLogs_directory#",httpdLogs_directory.stdout) if inc.file is defined else "%s-%s" % (ansible_hostname,inc.name)) }}
{%   endif -%}
{%  endfor %}
{% endif -%}
{# Group block -#}
{% if apacheIncGroup is defined -%}
{%  for rGroup in apacheIncGroup -%}
{%   if rGroup.group in group_names -%}
{%    for ginc in rGroup.includes -%}
{%     if ginc.skip is not defined or not ginc.skip -%}
{%      set printInc = {'value': True} -%}
{# Looking for the same name in Host block -#}
{%      for rHost in apacheIncHost -%}
{%       if rHost.host==inventory_hostname -%}
{%        for hinc in rHost.includes -%}
{%         if hinc.name == ginc.name and (hinc.skip is not defined or (hinc.skip is defined and not hinc.skip)) -%}
{%          if printInc.update({'value': False}) -%}{% endif -%}
{%         endif -%}
{%        endfor -%}
{%       endif -%}
{%      endfor %}
{# Print Include -#}
{%      if printInc.value and (ginc.path is defined or ginc.file is defined or ginc.skip is defined or ginc.variables is defined) -%}
Group:{{ ginc.name }}:{{ "%s/%s" % (ginc.path|replace("#hostname#",ansible_hostname)|replace("#hostIP#",ansible_default_ipv4.address)|replace("#fqdn#",ansible_fqdn)|replace("#name#",ginc.name)|replace("#httpd_directory#",httpd_directory.stdout)|replace("#httpdConf_directory#",httpdConf_directory.stdout)|replace("#httpdInc_directory#",httpdInc_directory.stdout)|replace("#httpdLogs_directory#",httpdLogs_directory.stdout) if ginc.path is defined else httpdInc_directory.stdout,ginc.file|replace("#hostname#",ansible_hostname)|replace("#hostIP#",ansible_default_ipv4.address)|replace("#fqdn#",ansible_fqdn)|replace("#name#",ginc.name)|replace("#httpd_directory#",httpd_directory.stdout)|replace("#httpdConf_directory#",httpdConf_directory.stdout)|replace("#httpdInc_directory#",httpdInc_directory.stdout)|replace("#httpdLogs_directory#",httpdLogs_directory.stdout) if ginc.file is defined else "%s-%s" % (ansible_hostname,ginc.name)) }}
{%      endif -%}
{%     endif -%}
{%    endfor -%}
{%   endif -%}
{%  endfor %}
{% endif -%}
{# Host block -#}
{% if apacheIncHost is defined -%}
{%  for rHost in apacheIncHost -%}
{%   if rHost.host==inventory_hostname -%}
{%    for hinc in rHost.includes -%}
{%     if hinc.skip is not defined or (hinc.skip is defined and not hinc.skip) -%}
{# Print Include -#}
{%      if hinc.path is defined or hinc.file is defined or hinc.skip is defined or hinc.variables is defined -%}
Host:{{ hinc.name }}:{{ "%s/%s" % (hinc.path|replace("#hostname#",ansible_hostname)|replace("#hostIP#",ansible_default_ipv4.address)|replace("#fqdn#",ansible_fqdn)|replace("#name#",hinc.name)|replace("#httpd_directory#",httpd_directory.stdout)|replace("#httpdConf_directory#",httpdConf_directory.stdout)|replace("#httpdInc_directory#",httpdInc_directory.stdout)|replace("#httpdLogs_directory#",httpdLogs_directory.stdout) if hinc.path is defined else httpdInc_directory.stdout,hinc.file|replace("#hostname#",ansible_hostname)|replace("#hostIP#",ansible_default_ipv4.address)|replace("#fqdn#",ansible_fqdn)|replace("#name#",hinc.name)|replace("#httpd_directory#",httpd_directory.stdout)|replace("#httpdConf_directory#",httpdConf_directory.stdout)|replace("#httpdInc_directory#",httpdInc_directory.stdout)|replace("#httpdLogs_directory#",httpdLogs_directory.stdout) if hinc.file is defined else "%s-%s" % (ansible_hostname,hinc.name)) }}
{%      endif -%}
{%     endif -%}
{%    endfor -%}
{%   endif -%}
{%  endfor %}
{% endif %}
